.container{
    margin: 2rem;
    max-width: 300px;
    height: 80%;
    width: 100%;

    form{
        height: inherit;
        border: 3px;
        border-color: black;
        background-color: white;
        border-radius: 10px;
        box-shadow: 20px 16px teal;
    }
}